inventario-n8n/workflows/WF2_Procesamiento_Stock_Alertas.json
{
  "name": "WF2_Procesamiento_Stock_Alertas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "procesar-venta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c784fc53-b1f2-471d-90dc-dc3bd5678c19",
      "name": "Webhook",
      "webhookId": "ce978c48-09ba-4c81-bffa-6e3c6c415de9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "689ba9fd-7e96-44fa-aebc-5d315172da8f",
              "name": "sku",
              "value": "={{$json.body.sku}}",
              "type": "string"
            },
            {
              "id": "799139c7-0985-4923-acd0-2b80cbd78698",
              "name": "cantidad",
              "value": "={{$json.body.cantidad}}",
              "type": "number"
            },
            {
              "id": "973aca69-ebee-44f4-8119-9394ed2902b0",
              "name": "fecha",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "49831b8b-328f-444e-85b9-a19f96ec8421",
              "name": "raw_json",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7ac753a4-2fef-4cc0-93da-318dfc21a513",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "errores",
          "mode": "list",
          "cachedResultName": "errores"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "workflow": "WF2_Procesamiento_Stock_Alertas",
            "paso": "BusquedaProducto",
            "error_msg": "Producto no encontrado",
            "payload": "={{$node[\"Edit Fields\"].json[\"raw_json\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso",
              "displayName": "paso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        96
      ],
      "id": "f936079e-29dc-453a-bc46-c635465eefb8",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: false,\n  mensaje: \"Producto no encontrado\"\n} }}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        96
      ],
      "id": "361d18e7-a907-4d3a-8a2e-93aec9c21cf8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const stockActual = Number($json.stock_actual);\nconst stockMinimo = Number($json.stock_minimo);\nconst cantidad = Number($item(0).$node[\"Edit Fields\"].json.cantidad);\n\nconst stockNuevo = stockActual - cantidad;\n\nreturn [\n  {\n    json: {\n      sku: $json.sku,\n      nombre: $json.nombre,\n      stock_actual: stockActual,\n      stock_minimo: stockMinimo,\n      cantidad_vendida: cantidad,\n      stock_nuevo: stockNuevo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -96
      ],
      "id": "cce7a340-e12d-4616-a42b-cd278a2b9802",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "errores",
          "mode": "list",
          "cachedResultName": "errores"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "workflow": "WF2_Procesamiento_Stock_Alertas",
            "paso": "ValidacionStock",
            "error_msg": "Stock insuficiente para completar la venta",
            "payload": "={{ JSON.stringify($json) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso",
              "displayName": "paso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_msg",
              "displayName": "error_msg",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        0
      ],
      "id": "888cd7ce-97d9-4e47-9a0f-34be930e6831",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: false,\n  mensaje: \"Stock insuficiente\"\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1456,
        0
      ],
      "id": "8949a0fc-26af-4225-9c87-cf8d5a8d2f49",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66693220-c172-4302-ad6a-3af900d8f2ad",
              "name": "sku",
              "value": "={{$node[\"Code in JavaScript\"].json[\"sku\"]}}",
              "type": "string"
            },
            {
              "id": "9e26f6e0-b954-467f-85eb-99a43fb16c5f",
              "name": "cantidad_vendida",
              "value": "={{$node[\"Code in JavaScript\"].json[\"cantidad_vendida\"]}}",
              "type": "string"
            },
            {
              "id": "5f4d639d-7070-4be7-a397-c2c2350462ff",
              "name": "stock_nuevo",
              "value": "={{$node[\"Code in JavaScript\"].json[\"stock_nuevo\"]}}",
              "type": "string"
            },
            {
              "id": "3d2f3293-a156-477a-ad45-0049d0c27fc8",
              "name": "stock_minimo",
              "value": "={{$node[\"Code in JavaScript\"].json[\"stock_minimo\"]}}",
              "type": "string"
            },
            {
              "id": "7574a575-f251-454b-aed3-31d33d5fd9a8",
              "name": "nombre",
              "value": "={{$node[\"Code in JavaScript\"].json[\"nombre\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -176
      ],
      "id": "bf83cc4a-a173-4905-8f79-c8d3ead6fa34",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4699b296-e4b6-4e65-8b8a-82664e865d00",
              "leftValue": "={{$json.sku}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "fbc55467-bed1-4cc2-9b99-6a74d1fc5e56",
      "name": "IF producto existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "036ca5fb-34e1-418d-b5b2-d045b8ca56d7",
              "leftValue": "={{$json.stock_nuevo}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -96
      ],
      "id": "3a55a3ba-6cf8-40fb-a79e-966c3dfc42dd",
      "name": "IF stock suficiente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "dff7d762-c3fb-4712-b697-664a509fad60",
              "leftValue": "={{$json.stock_nuevo}}",
              "rightValue": "={{$json.stock_minimo}}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        -176
      ],
      "id": "db9f631b-c4fe-41eb-ad20-d0b8dc52c3bd",
      "name": "IF stock bajo"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alertas",
          "mode": "list",
          "cachedResultName": "alertas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "sku": "={{$node[\"Edit Fields1\"].json[\"sku\"]}}",
            "tipo": "BAJO_STOCK",
            "mensaje": "={{ 'Stock bajo en ' + $json.sku + '. Stock actual: ' + $json.stock_nuevo + ', mínimo: ' + $json.stock_minimo }}",
            "estado": "PENDIENTE",
            "prioridad": "={{ Number($json.stock_nuevo) <= 0 ? \"ALTA\" : \"MEDIA\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_resolucion",
              "displayName": "fecha_resolucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usuario_resolucion",
              "displayName": "usuario_resolucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        -384
      ],
      "id": "278e66b4-2613-415e-b54a-d0be99a0fb45",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria",
          "mode": "list",
          "cachedResultName": "auditoria"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "evento": "STOCK_ACTUALIZADO",
            "detalle": "={{ \n\"Producto \" + $(\"Edit Fields1\").item.json.sku +\n\" actualizado. Vendido: \" + $(\"Edit Fields1\").item.json.cantidad_vendida +\n\", stock nuevo: \" + $(\"Edit Fields1\").item.json.stock_nuevo +\n\". ALERTA: Bajo stock\"\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalle",
              "displayName": "detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        -384
      ],
      "id": "3abda38c-f350-47bd-8432-29e0d913411e",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"mensaje\": \"Inventario actualizado correctamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3216,
        -384
      ],
      "id": "4739d499-93d2-45ed-aa39-d428eba06898",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria",
          "mode": "list",
          "cachedResultName": "auditoria"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "evento": "STOCK_ACTUALIZADO",
            "detalle": "={{ \n\"Producto \" + $json.sku + \n\" actualizado. Vendido: \" + $json.cantidad_vendida + \n\", stock nuevo: \" + $json.stock_nuevo \n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalle",
              "displayName": "detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        -32
      ],
      "id": "402681ea-449a-426b-a6e8-3bdf65d7670d",
      "name": "Insert rows in a table4",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"mensaje\": \"Inventario actualizado correctamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2304,
        -32
      ],
      "id": "0539d9e2-9b4e-4f96-b294-ece37764deb3",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, sku, nombre, stock_actual, stock_minimo\nFROM productos\nWHERE sku = '{{$json.sku}}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "598de51c-25f5-4fd5-be27-487c792a8aca",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "productos",
          "mode": "list",
          "cachedResultName": "productos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku": "={{$json.sku}}",
            "stock_actual": "={{$node[\"Code in JavaScript\"].json[\"stock_nuevo\"]}}",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [
            "sku"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stock_actual",
              "displayName": "stock_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_minimo",
              "displayName": "stock_minimo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        -176
      ],
      "id": "ec8188f5-bb56-4aaa-8c3e-f038f9f4996a",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ventas",
          "mode": "list",
          "cachedResultName": "ventas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "sku": "={{$json.sku}}",
            "cantidad": "={{$json.cantidad_vendida}}",
            "origen": "web",
            "raw_json": "={{ JSON.stringify($json) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cantidad",
              "displayName": "cantidad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        -176
      ],
      "id": "d3b18a08-3ab1-48f0-afd9-a620feee5cac",
      "name": "Insert rows in a table5",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "eddybotzoc07@gmail.com",
        "toEmail": "eddybotzoc07@gmail.com",
        "subject": "=Alerta de stock bajo - {{$node[\"Edit Fields1\"].json[\"sku\"]}}",
        "html": "=<div style=\"font-family: Arial, sans-serif; background:#f4f6f8; padding:25px;\">\n  <div style=\"max-width:600px; margin:auto; background:white; border-radius:14px; overflow:hidden; box-shadow:0 4px 14px rgba(0,0,0,0.12);\">\n\n    <div style=\"background:#0f172a; color:white; padding:20px;\">\n      <h2 style=\"margin:0;\">Inventario Pro</h2>\n      <p style=\"margin:5px 0 0;\">Alerta automática de bajo stock</p>\n    </div>\n\n    <div style=\"padding:25px;\">\n      <h3 style=\"color:#dc2626;\">⚠️ Producto con bajo stock</h3>\n\n      <p>Se detectó que un producto llegó al nivel mínimo de inventario.</p>\n\n      <table style=\"width:100%; border-collapse:collapse; margin-top:20px;\">\n        <tr>\n          <td style=\"padding:10px; background:#f9fafb;\"><strong>SKU</strong></td>\n          <td style=\"padding:10px;\">{{$node[\"Edit Fields1\"].json[\"sku\"]}}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:10px; background:#f9fafb;\"><strong>Producto</strong></td>\n          <td style=\"padding:10px;\">{{$node[\"Edit Fields1\"].json[\"nombre\"]}}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:10px; background:#f9fafb;\"><strong>Stock actual</strong></td>\n          <td style=\"padding:10px;\">{{$node[\"Edit Fields1\"].json[\"stock_nuevo\"]}}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:10px; background:#f9fafb;\"><strong>Stock mínimo</strong></td>\n          <td style=\"padding:10px;\">{{$node[\"Edit Fields1\"].json[\"stock_minimo\"]}}</td>\n        </tr>\n      </table>\n\n      <p style=\"margin-top:25px;\">Se recomienda realizar reabastecimiento lo antes posible.</p>\n    </div>\n\n    <div style=\"background:#f9fafb; padding:15px; text-align:center; color:#6b7280;\">\n      Sistema automatizado con Flask + n8n + PostgreSQL\n    </div>\n\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2768,
        -384
      ],
      "id": "7af61de6-382d-4dbb-8350-53c004881985",
      "name": "Send an Email",
      "webhookId": "953a2265-d27b-48ae-b8a1-1b20b9984cc4",
      "credentials": {
        "smtp": {
          "id": "WUujlvUZFkcFGWwW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, sku, estado\nFROM alertas\nWHERE sku = '{{$json.sku}}'\n  AND tipo = 'BAJO_STOCK'\n  AND estado IN ('PENDIENTE', 'EN_PROCESO')\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        -256
      ],
      "id": "e664b14c-dc3f-4eb2-85be-c1f5f83a43cc",
      "name": "Verificar alerta existente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1fbe44f3-1bee-4bbc-bf22-7e8007bd5ff5",
              "leftValue": "={{ !$json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2288,
        -256
      ],
      "id": "c3f16a5d-08b7-47e0-a8d2-eb5c21c9fc62",
      "name": "IF no existe alerta activa"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria",
          "mode": "list",
          "cachedResultName": "auditoria"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{$now}}",
            "evento": "STOCK_ACTUALIZADO",
            "detalle": "={{ \n\"Producto \" + $(\"Edit Fields1\").item.json.sku +\n\" actualizado. Vendido: \" + $(\"Edit Fields1\").item.json.cantidad_vendida +\n\", stock nuevo: \" + $(\"Edit Fields1\").item.json.stock_nuevo +\n\". ALERTA: Producto ya estaba en bajo stock, no se creó alerta duplicada\"\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "evento",
              "displayName": "evento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detalle",
              "displayName": "detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2496,
        -160
      ],
      "id": "a21927e5-95aa-497b-9915-c17084f39777",
      "name": "Registrar alerta duplicada evitada",
      "credentials": {
        "postgres": {
          "id": "nE5iTi1aDbjn9oP4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF stock suficiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IF stock bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF producto existe": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF stock suficiente": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF stock bajo": {
      "main": [
        [
          {
            "node": "Verificar alerta existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table2": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table4": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "IF producto existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table5": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar alerta existente": {
      "main": [
        [
          {
            "node": "IF no existe alerta activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF no existe alerta activa": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar alerta duplicada evitada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fce0ee88-1eb9-4e81-b85b-c8616d65362e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f357765a7df2fd989b45303872fe544cfc570ab1d4d3a47eba489a8b83739de5"
  },
  "id": "TaJXjNzKmWcIdyhk",
  "tags": []
}